.vrv-filter,
.vrv-file-input,
.vrv-file-output,
.vrv-file-copy {
  position: absolute;
  left: -9999px;
  z-index: -1; }

.vrv-clickable:hover:not(.inactivated), .vrv-wrapper .vrv-dialog-gh-list .vrv-dialog-gh-item:hover:not(.inactivated), .vrv-wrapper .vrv-dialog-tabs .vrv-dialog-tab:hover:not(.inactivated), .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-btn:hover:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-btn:hover:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-btn:hover:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-btn-icon-large:hover:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon-large:hover:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-btn-text:hover:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-btn-text:hover:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-menu-text:hover:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-menu-text:hover:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-text:hover:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-text:hover:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-btn-icon:hover:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon:hover:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-btn-icon-left:hover:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon-left:hover:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-menu-icon-left:hover:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-menu-icon-left:hover:not(.inactivated) {
  filter: invert(0%);
  background-color: #8B0000;
  cursor: pointer; }

.vrv-activable:active:not(.inactivated), .vrv-wrapper .vrv-dialog-tabs .vrv-dialog-tab:active:not(.inactivated), .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-btn:active:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-btn:active:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-btn:active:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-btn-icon-large:active:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon-large:active:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-btn-text:active:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-btn-text:active:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-menu-text:active:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-menu-text:active:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-text:active:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-text:active:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-btn-icon:active:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon:active:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-btn-icon-left:active:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon-left:active:not(.inactivated), .vrv-wrapper .vrv-toolbar .vrv-menu-icon-left:active:not(.inactivated), .vrv-wrapper .vrv-editor-toolbar .vrv-menu-icon-left:active:not(.inactivated) {
  background-color: #161616;
  cursor: pointer; }

.vrv-toggleable.toggled, .vrv-wrapper .vrv-toolbar .toggled.vrv-btn, .vrv-wrapper .vrv-editor-toolbar .toggled.vrv-btn, .vrv-wrapper .vrv-toolbar .toggled.vrv-btn-icon-large, .vrv-wrapper .vrv-editor-toolbar .toggled.vrv-btn-icon-large, .vrv-wrapper .vrv-toolbar .toggled.vrv-btn-text, .vrv-wrapper .vrv-editor-toolbar .toggled.vrv-btn-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .toggled.vrv-menu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .toggled.vrv-menu-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .toggled.vrv-submenu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .toggled.vrv-submenu-text, .vrv-wrapper .vrv-toolbar .toggled.vrv-btn-icon, .vrv-wrapper .vrv-editor-toolbar .toggled.vrv-btn-icon, .vrv-wrapper .vrv-toolbar .toggled.vrv-btn-icon-left, .vrv-wrapper .vrv-editor-toolbar .toggled.vrv-btn-icon-left, .vrv-wrapper .vrv-toolbar .toggled.vrv-menu-icon-left, .vrv-wrapper .vrv-editor-toolbar .toggled.vrv-menu-icon-left {
  background-color: #232323; }

.vrv-disableable.disabled, .vrv-wrapper .vrv-dialog .vrv-dialog-box .disabled.vrv-dialog-btn, .vrv-wrapper .vrv-toolbar .disabled.vrv-btn, .vrv-wrapper .vrv-editor-toolbar .disabled.vrv-btn, .vrv-wrapper .vrv-toolbar .disabled.vrv-btn-icon-large, .vrv-wrapper .vrv-editor-toolbar .disabled.vrv-btn-icon-large, .vrv-wrapper .vrv-toolbar .disabled.vrv-btn-text, .vrv-wrapper .vrv-editor-toolbar .disabled.vrv-btn-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .disabled.vrv-menu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .disabled.vrv-menu-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .disabled.vrv-submenu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .disabled.vrv-submenu-text, .vrv-wrapper .vrv-toolbar .disabled.vrv-btn-icon, .vrv-wrapper .vrv-editor-toolbar .disabled.vrv-btn-icon, .vrv-wrapper .vrv-toolbar .disabled.vrv-btn-icon-left, .vrv-wrapper .vrv-editor-toolbar .disabled.vrv-btn-icon-left, .vrv-wrapper .vrv-toolbar .disabled.vrv-menu-icon-left, .vrv-wrapper .vrv-editor-toolbar .disabled.vrv-menu-icon-left {
  opacity: 0.5;
  pointer-events: none; }

.vrv-inactivable.inactivated, .vrv-wrapper .vrv-toolbar .inactivated.vrv-btn, .vrv-wrapper .vrv-editor-toolbar .inactivated.vrv-btn, .vrv-wrapper .vrv-toolbar .inactivated.vrv-btn-icon-large, .vrv-wrapper .vrv-editor-toolbar .inactivated.vrv-btn-icon-large, .vrv-wrapper .vrv-toolbar .inactivated.vrv-btn-text, .vrv-wrapper .vrv-editor-toolbar .inactivated.vrv-btn-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .inactivated.vrv-menu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .inactivated.vrv-menu-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .inactivated.vrv-submenu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .inactivated.vrv-submenu-text, .vrv-wrapper .vrv-toolbar .inactivated.vrv-btn-icon, .vrv-wrapper .vrv-editor-toolbar .inactivated.vrv-btn-icon, .vrv-wrapper .vrv-toolbar .inactivated.vrv-btn-icon-left, .vrv-wrapper .vrv-editor-toolbar .inactivated.vrv-btn-icon-left, .vrv-wrapper .vrv-toolbar .inactivated.vrv-menu-icon-left, .vrv-wrapper .vrv-editor-toolbar .inactivated.vrv-menu-icon-left {
  pointer-events: none; }

.vrv-selectable.selected, .vrv-wrapper .vrv-dialog-tabs .selected.vrv-dialog-tab {
  background-color: #3c3c3c; }

.vrv-text-no-select, .vrv-wrapper .vrv-dialog-tabs .vrv-dialog-tab, .vrv-wrapper .vrv-views .vrv-view .vrv-svg-wrapper text,
.vrv-wrapper .vrv-views .vrv-view .vrv-svg-overlay text {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */ }

.vrv-wrapper {
  border: 0 none;
  display: block;
  font-weight: normal;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: initial;
  line-height: initial;
  margin: 0;
  outline: 0;
  overflow: initial;
  padding: 0;
  text-align: initial;
  vertical-align: baseline; }
  .vrv-wrapper *,
  .vrv-wrapper ::before,
  .vrv-wrapper ::after {
    box-sizing: initial; }
  .vrv-wrapper .vrv-views {
    position: absolute;
    overflow: scroll; }
    .vrv-wrapper .vrv-views .vrv-loading {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-color: grey;
      color: white; }
      .vrv-wrapper .vrv-views .vrv-loading .vrv-loading-text {
        text-align: center;
        height: 120px;
        background: url(./loading.svg) no-repeat center; }
    .vrv-wrapper .vrv-views .vrv-view {
      display: none; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-svg-wrapper,
      .vrv-wrapper .vrv-views .vrv-view .vrv-svg-overlay {
        overflow: auto;
        position: absolute; }
        .vrv-wrapper .vrv-views .vrv-view .vrv-svg-wrapper svg,
        .vrv-wrapper .vrv-views .vrv-view .vrv-svg-overlay svg {
          float: left; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-editor-cursor {
        display: none;
        top: -1000px;
        position: relative;
        pointer-events: none; }
        .vrv-wrapper .vrv-views .vrv-view .vrv-editor-cursor .vrv-cursor-lines {
          position: absolute; }
        .vrv-wrapper .vrv-views .vrv-view .vrv-editor-cursor .vrv-cursor-lines.top {
          background-position: center bottom;
          background-image: url(../icons/ledgerline.png); }
        .vrv-wrapper .vrv-views .vrv-view .vrv-editor-cursor .vrv-cursor-lines.bottom {
          background-position: center top;
          background-image: url(../icons/ledgerline.png); }
        .vrv-wrapper .vrv-views .vrv-view .vrv-editor-cursor .vrv-cursor-pointer {
          position: absolute;
          background-image: url(../icons/cursor.png); }
      .vrv-wrapper .vrv-views .vrv-view .vrv-doc-wrapper {
        background: grey;
        margin: 0; }
        .vrv-wrapper .vrv-views .vrv-view .vrv-doc-wrapper .vrv-page-wrapper {
          margin: auto auto;
          background: white;
          box-shadow: 2px 2px 4px #343434; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-editor-tool-panel {
        min-width: 0px;
        background-color: #3c3c3c;
        border-top: 1px solid #565656;
        border-bottom: 1px solid #565656; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-h-split {
        display: flex; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-split {
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-split > :nth-child(2) {
        position: relative; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-split > :nth-child(3) {
        flex: auto;
        min-height: 200px;
        min-width: 400px; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-split.vertical {
        flex-direction: column; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-split.vertical > :nth-child(1) {
        height: 200px;
        min-height: 200px; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-split.vertical > :nth-child(2) {
        height: 10px;
        cursor: row-resize;
        background: url(../icons/toolbar/drag-h.png) no-repeat center;
        background-color: #161616; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-split.horizontal {
        flex-direction: row; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-split.horizontal > :nth-child(1) {
        width: 200px;
        min-width: 200px; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-split.horizontal > :nth-child(2) {
        width: 10px;
        cursor: col-resize;
        background: url(../icons/toolbar/drag-v.png) no-repeat center;
        background-color: #161616; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-split div .vrv-xml {
        position: absolute;
        background: lightgrey; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-xml-valid {
        z-index: 5;
        position: absolute;
        min-height: 16px;
        min-width: 16px; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-xml-valid.ok {
        background: url(../icons/xml/ok.png) no-repeat center;
        background-color: green; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-xml-valid.wait {
        background: url(../icons/xml/wait.png) no-repeat center;
        background-color: darkorange; }
      .vrv-wrapper .vrv-views .vrv-view .vrv-xml-valid.error {
        background: url(../icons/xml/stop.png) no-repeat center;
        background-color: #B00; }
  .vrv-wrapper svg {
    display: block;
    margin: 0 auto; }
  .vrv-wrapper .vrv-toolbar, .vrv-wrapper .vrv-editor-toolbar {
    width: 100%;
    overflow: auto;
    background: #3c3c3c;
    min-height: 36px;
    color: white; }
    .vrv-wrapper .vrv-toolbar .vrv-btn-group, .vrv-wrapper .vrv-editor-toolbar .vrv-btn-group {
      float: left; }
    .vrv-wrapper .vrv-toolbar .vrv-btn-group-right, .vrv-wrapper .vrv-editor-toolbar .vrv-btn-group-right {
      float: right; }
    .vrv-wrapper .vrv-toolbar .vrv-h-separator, .vrv-wrapper .vrv-editor-toolbar .vrv-h-separator {
      float: left;
      min-width: 1px;
      height: 36px;
      background-color: #565656; }
    .vrv-wrapper .vrv-toolbar .vrv-v-separator, .vrv-wrapper .vrv-editor-toolbar .vrv-v-separator {
      float: left;
      min-height: 1px;
      background-color: #3c3c3c; }
    .vrv-wrapper .vrv-toolbar .vrv-btn, .vrv-wrapper .vrv-editor-toolbar .vrv-btn, .vrv-wrapper .vrv-toolbar .vrv-btn-icon-large, .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon-large, .vrv-wrapper .vrv-toolbar .vrv-btn-text, .vrv-wrapper .vrv-editor-toolbar .vrv-btn-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-menu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-menu-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-content .vrv-menu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-content .vrv-menu-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-content .vrv-submenu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-content .vrv-submenu-text, .vrv-wrapper .vrv-toolbar .vrv-btn-icon, .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon, .vrv-wrapper .vrv-toolbar .vrv-btn-icon-left, .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon-left, .vrv-wrapper .vrv-toolbar .vrv-menu-icon-left, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-icon-left {
      float: left;
      padding: 9px 10px 0px 10px;
      text-decoration: none;
      height: 27px;
      font-size: 16px; }
    .vrv-wrapper .vrv-toolbar .vrv-btn-text:before, .vrv-wrapper .vrv-editor-toolbar .vrv-btn-text:before, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-menu-text:before, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-menu-text:before, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-text:before, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-text:before, .vrv-wrapper .vrv-toolbar .vrv-btn-icon:before, .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon:before, .vrv-wrapper .vrv-toolbar .vrv-btn-icon-left:before, .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon-left:before, .vrv-wrapper .vrv-toolbar .vrv-menu-icon-left:before, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-icon-left:before {
      content: attr(data-before); }
    .vrv-wrapper .vrv-toolbar .vrv-btn-icon-left, .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon-left, .vrv-wrapper .vrv-toolbar .vrv-menu-icon-left, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-icon-left {
      padding-left: 30px;
      background-repeat: no-repeat;
      background-position: 8px center !important; }
    .vrv-wrapper .vrv-toolbar .vrv-btn-icon, .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon {
      padding-right: 30px;
      background-repeat: no-repeat;
      background-position: right 8px center !important; }
    .vrv-wrapper .vrv-toolbar .vrv-btn-icon-large, .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon-large {
      padding: 2px;
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-position: center center !important; }
    .vrv-wrapper .vrv-toolbar .vrv-midi-progress, .vrv-wrapper .vrv-editor-toolbar .vrv-midi-progress {
      height: 36px;
      float: left; }
      .vrv-wrapper .vrv-toolbar .vrv-midi-progress .vrv-midi-current-time, .vrv-wrapper .vrv-editor-toolbar .vrv-midi-progress .vrv-midi-current-time,
      .vrv-wrapper .vrv-toolbar .vrv-midi-progress .vrv-midi-total-time,
      .vrv-wrapper .vrv-editor-toolbar .vrv-midi-progress .vrv-midi-total-time {
        margin: 8px;
        font-size: 16px;
        display: inline-block; }
      .vrv-wrapper .vrv-toolbar .vrv-midi-progress .vrv-midi-bar, .vrv-wrapper .vrv-editor-toolbar .vrv-midi-progress .vrv-midi-bar {
        height: 12px;
        margin-top: 11px;
        width: 200px;
        background: #ededed;
        cursor: pointer;
        display: inline-block; }
        .vrv-wrapper .vrv-toolbar .vrv-midi-progress .vrv-midi-bar .vrv-midi-bar-percent, .vrv-wrapper .vrv-editor-toolbar .vrv-midi-progress .vrv-midi-bar .vrv-midi-bar-percent {
          margin: 0;
          background: #8B0000;
          width: 0%;
          height: 100%; }
    .vrv-wrapper .vrv-toolbar .vrv-menu-icon-left, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-icon-left {
      height: 18px;
      padding-top: 5px;
      padding-bottom: 5px; }
    .vrv-wrapper .vrv-toolbar .vrv-menu, .vrv-wrapper .vrv-editor-toolbar .vrv-menu, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-menu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-menu-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-content .vrv-menu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-content .vrv-menu-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-content .vrv-submenu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-content .vrv-submenu-text {
      float: left;
      display: inline-flex; }
    .vrv-wrapper .vrv-toolbar .vrv-menu-content, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-content, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-content {
      display: none;
      position: absolute;
      margin-top: 36px;
      background-color: #565656;
      z-index: 6;
      flex-direction: column; }
      .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-menu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-menu-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-content .vrv-menu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-content .vrv-menu-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-content .vrv-submenu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-content .vrv-submenu-text {
        height: 18px;
        padding-top: 5px;
        padding-bottom: 5px; }
      .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-menu-checked::after, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-menu-checked::after {
        content: url(../icons/toolbar/checked.png);
        padding-top: 5px;
        margin-left: 8px; }
      .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-content .vrv-submenu, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-content .vrv-submenu {
        float: none; }
      .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-text, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-content .vrv-submenu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-content .vrv-submenu-text {
        background: url(../icons/toolbar/submenu.png) no-repeat;
        background-position: center right;
        padding-right: 20px;
        width: calc(100% - 30px); }
      .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-content, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-content, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-content .vrv-submenu-content, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-content .vrv-submenu-content {
        margin-top: 0px;
        left: calc(100% + 1px);
        white-space: nowrap;
        display: none !important; }
      .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu:hover .vrv-submenu-content, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu:hover .vrv-submenu-content {
        display: flex !important; }
    .vrv-wrapper .vrv-toolbar .vrv-menu-content.clicked, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content.clicked, .vrv-wrapper .vrv-toolbar .vrv-menu-content .clicked.vrv-submenu-content, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .clicked.vrv-submenu-content {
      display: none !important; }
    .vrv-wrapper .vrv-toolbar .vrv-menu:hover .vrv-menu-content, .vrv-wrapper .vrv-editor-toolbar .vrv-menu:hover .vrv-menu-content, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-menu-text:hover .vrv-menu-content, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-menu-text:hover .vrv-menu-content, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-text:hover .vrv-menu-content, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-text:hover .vrv-menu-content, .vrv-wrapper .vrv-toolbar .vrv-menu:hover .vrv-menu-content .vrv-submenu-content, .vrv-wrapper .vrv-editor-toolbar .vrv-menu:hover .vrv-menu-content .vrv-submenu-content, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-menu:hover .vrv-submenu-content, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-menu:hover .vrv-submenu-content, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-menu-text:hover .vrv-submenu-content, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-menu-text:hover .vrv-submenu-content, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-submenu-text:hover .vrv-submenu-content, .vrv-wrapper .vrv-editor-toolbar .vrv-menu-content .vrv-submenu-text:hover .vrv-submenu-content {
      display: flex; }
  .vrv-wrapper .vrv-editor-toolbar {
    border-top: 1px solid #565656; }
  .vrv-wrapper .vrv-statusbar {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #3c3c3c;
    min-height: 20px;
    color: white; }
    .vrv-wrapper .vrv-statusbar .vrv-status-text {
      padding: 3px 3px 0px 5px;
      text-decoration: none;
      font-size: 14px; }
  .vrv-wrapper .vrv-notification {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 4px;
    background-color: #8B0000;
    color: white;
    z-index: 8;
    opacity: 1;
    transition: opacity 800ms; }
  .vrv-wrapper .vrv-notification.disabled {
    opacity: 0;
    z-index: -1; }
  .vrv-wrapper .vrv-dialog {
    display: none;
    position: absolute;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(95, 95, 95, 0.8);
    color: white; }
    .vrv-wrapper .vrv-dialog .vrv-dialog-box {
      background-color: #323232;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      border-radius: 4px;
      max-width: 600px;
      display: flex;
      flex-direction: column; }
      .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-btn {
        background: #3c3c3c;
        height: 40px;
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin-left: 20px;
        padding: 0px 12px; }
      .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-btn::before {
        content: attr(data-before); }
      .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #888; }
        .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-top .vrv-dialog-icon {
          flex: 1;
          max-width: 24px;
          height: 24px;
          margin-right: 16px; }
        .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-top .vrv-dialog-icon.warning {
          background: url(../icons/warning.png) no-repeat center; }
        .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-top .vrv-dialog-icon.info {
          background: url(../icons/info.png) no-repeat center; }
        .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-top .vrv-dialog-icon.error {
          background: url(../icons/error.png) no-repeat center; }
        .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-top .vrv-dialog-icon.question {
          background: url(../icons/question.png) no-repeat center; }
        .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-top .vrv-dialog-title {
          flex: 1; }
        .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-top .vrv-dialog-close {
          background: url(../icons/dialog/close.png) no-repeat center;
          flex: 1;
          height: 20px;
          max-width: 20px;
          margin-left: 16px;
          cursor: pointer; }
      .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-content {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 22px; }
        .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-content br {
          display: block;
          content: '';
          margin-top: 10px; }
        .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-content a,
        .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-content a:visited {
          color: white; }
      .vrv-wrapper .vrv-dialog .vrv-dialog-box .vrv-dialog-bottom {
        display: flex;
        justify-content: flex-end; }
  .vrv-wrapper .vrv-dialog-tabs {
    display: flex;
    align-items: center; }
    .vrv-wrapper .vrv-dialog-tabs .vrv-dialog-tab {
      background-color: #232323;
      min-height: 40px;
      min-width: 50px;
      max-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 10px; }
    .vrv-wrapper .vrv-dialog-tabs .vrv-dialog-tab:not(:last-child) {
      border-right: 1px solid #565656; }
  .vrv-wrapper .vrv-dialog-gh-loading {
    height: 350px;
    width: 100%;
    background: url(./loading.svg) no-repeat center;
    background-color: #3c3c3c; }
  .vrv-wrapper .vrv-dialog-gh-list {
    min-height: 350px;
    max-height: 350px;
    background-color: #3c3c3c;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; }
    .vrv-wrapper .vrv-dialog-gh-list .vrv-dialog-gh-item {
      background-color: #3c3c3c;
      border-bottom: 1px solid #565656;
      min-height: 32px;
      padding-left: 48px;
      display: flex;
      justify-content: left;
      align-items: center;
      background-repeat: no-repeat;
      background-position: 12px center !important; }
    .vrv-wrapper .vrv-dialog-gh-list .vrv-dialog-gh-item:before {
      content: attr(data-before); }
    .vrv-wrapper .vrv-dialog-gh-list .vrv-dialog-gh-item.checked::after {
      content: url(../icons/toolbar/checked.png);
      margin-left: 8px; }
  .vrv-wrapper .vrv-dialog-gh-selection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px; }
    .vrv-wrapper .vrv-dialog-gh-selection .vrv-dialog-gh-selection-item {
      justify-content: center;
      align-items: center;
      min-height: 40px;
      max-height: 40px;
      display: flex;
      padding-left: 48px;
      background-repeat: no-repeat;
      background-position: 12px center !important; }
  .vrv-wrapper .vrv-dialog-breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    background-color: #3c3c3c; }
    .vrv-wrapper .vrv-dialog-breadcrumbs .vrv-dialog-breadcrumb {
      justify-content: center;
      align-items: center;
      min-height: 40px;
      max-height: 40px;
      display: flex;
      padding-left: 4px;
      padding-right: 4px; }
    .vrv-wrapper .vrv-dialog-breadcrumbs .vrv-dialog-breadcrumb:first-child {
      padding-left: 8px;
      padding-right: 4px; }
    .vrv-wrapper .vrv-dialog-breadcrumbs .vrv-dialog-breadcrumb:after {
      padding-left: 8px;
      content: "/\00a0"; }
    .vrv-wrapper .vrv-dialog-breadcrumbs .vrv-dialog-breadcrumb:hover {
      filter: invert(0%);
      background-color: #8B0000;
      cursor: pointer; }
  .vrv-wrapper .vrv-dialog-form {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr; }
    .vrv-wrapper .vrv-dialog-form .vrv-dialog-label {
      min-height: 36px;
      padding-right: 12px;
      padding-top: 12px;
      display: flex;
      justify-content: right; }
    .vrv-wrapper .vrv-dialog-form .vrv-dialog-input {
      background-color: #3c3c3c;
      padding: 8px 12px;
      margin: 4px 0px;
      border: 1px solid #565656;
      border-radius: 2px;
      box-sizing: border-box;
      resize: vertical;
      color: white;
      font-size: 16px;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }
    .vrv-wrapper .vrv-dialog-form .vrv-dialog-input:focus {
      border: 1px solid #8B0000; }

@media screen and (max-width: 600px) {
  .vrv-wrapper .vrv-toolbar .vrv-btn, .vrv-wrapper .vrv-editor-toolbar .vrv-btn, .vrv-wrapper .vrv-toolbar .vrv-btn-text, .vrv-wrapper .vrv-toolbar .vrv-btn-icon-left, .vrv-wrapper .vrv-toolbar .vrv-btn-icon, .vrv-wrapper .vrv-toolbar .vrv-btn-icon-large, .vrv-wrapper .vrv-toolbar .vrv-menu-content .vrv-menu-text, .vrv-wrapper .vrv-editor-toolbar .vrv-btn-text, .vrv-wrapper .vrv-editor-toolbar .vrv-btn-icon-large {
    content: ''; } }

.cm-s-vrv .CodeMirror-gutters {
  background: #3f3f3f !important; }

.cm-s-vrv .CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  color: #ccc; }

.cm-s-vrv .CodeMirror-cursor {
  border-left: 1px solid white; }

.cm-s-vrv {
  background-color: #3f3f3f;
  color: #ffffff; }

.cm-s-vrv span.cm-builtin {
  color: #dcdccc;
  font-weight: bold; }

.cm-s-vrv span.cm-comment {
  color: #ccb5e7; }

.cm-s-vrv span.cm-keyword {
  color: #f0dfaf;
  font-weight: bold; }

.cm-s-vrv span.cm-atom {
  color: #bfebbf; }

.cm-s-vrv span.cm-def {
  color: #dcdccc; }

.cm-s-vrv span.cm-variable {
  color: #dfaf8f; }

.cm-s-vrv span.cm-variable-2 {
  color: #dcdccc; }

.cm-s-vrv span.cm-string {
  color: #beffc9; }

.cm-s-vrv span.cm-string-2 {
  color: #cc9393; }

.cm-s-vrv span.cm-number {
  color: #dcdccc; }

.cm-s-vrv span.cm-tag {
  color: #a6dcf1; }

.cm-s-vrv span.cm-property {
  color: #dfaf8f; }

.cm-s-vrv span.cm-attribute {
  color: #f0e190; }

.cm-s-vrv span.cm-qualifier {
  color: #7cb8bb; }

.cm-s-vrv span.cm-meta {
  color: #eec6c6; }

.cm-s-vrv span.cm-header {
  color: #f0efd0; }

.cm-s-vrv span.cm-operator {
  color: #f0efd0; }

.cm-s-vrv span.CodeMirror-matchingbracket {
  box-sizing: border-box;
  background: transparent;
  border-bottom: 1px solid; }

.cm-s-vrv span.CodeMirror-nonmatchingbracket {
  border-bottom: 1px solid;
  background: none; }

.cm-s-vrv .CodeMirror-activeline {
  background: #000000; }

.cm-s-vrv .CodeMirror-activeline-background {
  background: #000000; }

.cm-s-vrv div.CodeMirror-selected {
  background: #545454; }

.cm-s-vrv .CodeMirror-focused div.CodeMirror-selected {
  background: #4f4f4f; }
